/*TODO sistemare la webcam piu piccola*/

#webgazerVideoContainer {
    width: 220px !important;
    height: 140px !important;
    top: 60px !important;
    left: -10px !important;
}

#webgazerVideoFeed {
    width: 220px !important;
    height: 140px !important;
}

#webgazerFaceOverlay{
    width: 220px !important;
    height: 140px !important;
}

#webgazerFaceFeedbackBox{
    width: 85px !important;
    height: 85px !important;
    top: 20px !important;
    left: 60px !important;
}

.tipoSezione1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #222529;
    padding: 5px;
}

.tipoSezione2 {
    padding: 5px;
    min-height: 65vh;
    max-height: 65vh;
}

.tipoSezione3{
    margin-top: 10px;
    padding: 5px;
    min-height: 88vh;
    max-height: 88vh;
}

.item {
    width: 98%;
    padding:1px;
}

.wrapper {
    height: 73vh;
    overflow: hidden;
    overflow-y: scroll;
}
.wrapperVisualizzaTest, .wrapperVisualizzaPagine{
    height: 87vh;
    overflow: hidden;
    overflow-y: scroll;
}


.responsive {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btnMoveCarosel{
    height:40px; width:40px;
}

footer {
    text-align: center;
    margin-top: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
